In [8]:
###VacationPy

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [6]:
### Store Part I results into DataFrame
city_data_path = "Resources/clean_city_data.csv"

# Read the  data
city_data_df = pd.read_csv(city_data_path)
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,"ca mau,vn",9.1769,105.1500,88.38,59,90,12.19,VN,1626923432
1,"ayagoz,kz",47.9714,80.4392,71.44,51,100,19.44,KZ,1626923683
2,"dano,bf",11.1500,-3.0667,76.06,74,100,8.08,BF,1626923684
3,"novyy urengoy,ru",66.0833,76.6333,59.77,87,100,16.87,RU,1626923682
4,"black river,jm",18.0264,-77.8487,83.98,72,80,4.50,JM,1626923684
...,...,...,...,...,...,...,...,...,...
629,"junin,ar",-34.5838,-60.9433,48.97,61,93,9.04,AR,1626923862
630,"beringovskiy,ru",63.0500,179.3167,55.81,66,36,6.11,RU,1626923863
631,"longview,us",32.5007,-94.7405,79.43,78,1,5.75,US,1626923648
632,"comodoro rivadavia,ar",-45.8667,-67.5000,55.26,50,0,11.50,AR,1626923863
633,"fairbanks,us",64.8378,-147.7164,80.56,41,20,4.61,US,1626923852

In [ ]:
#Create a heat map that displays the humidity for every city from the part I of the homework.